#wrapper {
	max-width: 70%;
	margin: 0 auto;
	background-color: grey;
	padding: 20px;
}
h1 {
	text-align: center;
	font-size: 40pt;
	color: black;
}
.pupp {
	background-color: purple;
	padding: 20px;
}
h2 {
	color: black;
	border-left: 2px solid black;
	font-size: 15pt;
	padding: 5px;
}
.hehe {
	background-color: green;
}
p {
	font-size: 9pt;
	color: black;
	padding: 10px;
}
body {
	background-color: blue;
}
img {
	width: 500px;
	border: 5px solid black;
	display: block;
	margin: 10px;
}
.lol {
	float: right;
	margin: 10px;
}
.dak {
	float: left;
	margin: 10px;
}
.pic {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
}
a {
	display: block;
	color: white;
	text-decoration-line: none;
}
a:hover {
	color: red;
	font-size: 55px;
}
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
