body {
	background-color: #D9D9D9;
}
#wrapper {
	max-width: 90%;
	border: 3px solid black;
	margin: 0 auto;
	background-color: white;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 64px;
	font-family: 'Bungee Shade', cursive;
}
h2 {
	background-color: #025e73;
	color: white;
	padding: 5px;
	font-family: 'Bungee', cursive;
}
img {
	width: 200px;
	float: right;
	padding: 5px;
}
.column {
	float: left;
	width: 32%;
	padding: 5px;
}
.col2 {
	width: 48%;
}
.center {
	text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
p {
	font-family: 'Roboto', sans-serif;
}