#wrapper {
	max-width: 70%;
	margin: 0 auto;
	background-color: lightyellow;
}
h1 {
	color: pink;
	font-size: 30pt;
	text-align: center;
	border-bottom: 10px solid pink;
}
li {
	color: skyblue;
	font-size: 20pt
}
p {
	color: grey;
}
img {
	width: 300px; 
	border:10px solid tan;
}
ol {
	padding: 10px;
	margin: 50px;
}
body {
	background-color: skyblue;
}